@model Licenta.Models.Client

@{
    ViewData["Title"] = "Details";
}

<br />
<h3>Detalii clienti</h3>

<div>
    <hr />
    <br/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrRegComertului)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrRegComertului)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrRegComertului)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrRegComertului)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salariati)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-sm table-bordered col-sm-10">
                <thead class="thead-dark">
                    <tr>
                        <th class="p-2">Nume Prenume</th>
                        <th class="p-2">Pozitie</th>
                        <th class="p-2">Salariu</th>
                        <th class="p-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var salariat in Model.Salariati)
                        {
                            <tr>
                                <td class="p-2">@salariat.NumePrenume </td>
                                <td class="p-2">@salariat.functie</td>
                                <td class="p-2">@salariat.salar_brut</td>
                                <td class="p-2">
                                    <a asp-controller="Salariats" asp-action="Edit" asp-route-id=@salariat.SalariatId class="btn btn-outline-success">
                                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    </a>
                                    <a asp-controller="Salariats" asp-action="Details" asp-route-id=@salariat.SalariatId class="btn btn-outline-primary">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </a>
                                    <a asp-route-id=@salariat.SalariatId class="btn btn-outline-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </dd>


    </dl>
</div>

<div class="form-group row">
    <div class="col-sm-4 offset-sm-2">
        <a class="btn btn-success form-control" asp-action="Edit" asp-route-id="@Model.ClientId">Update</a> 
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary form-control" asp-action="Index">Inapoi</a>
    </div>
</div>
