@model Licenta.Models.Client

@{
    ViewData["Title"] = "Edit client";
}

<br />
<h2>Editare client</h2>

<hr />
<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClientId" />
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Denumire" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="Denumire" class="form-control" />
                <span asp-validation-for="Denumire" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="CodFiscal" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="CodFiscal" class="form-control" />
                <span asp-validation-for="CodFiscal" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="NrRegComertului" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="NrRegComertului" class="form-control" />
                <span asp-validation-for="NrRegComertului" class="text-danger"></span>
            </div>
        </div>

        <!--<div class="form-group row">
            <div class="col-3">
                <label asp-for="CodCAEN" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="CodCAEN" class="form-control" />
                <span asp-validation-for="CodCAEN" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="TipFirma" class="control-label"></label>
            </div>
            <div class="col-6">-->
                @* Radio Button for Tip firma *@
                <!--Persoana Fizica @Html.RadioButtonFor(model => model.TipFirma, "Persoana Fizica")
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6 offset-3">
                Persoana Juridica @Html.RadioButtonFor(model => model.TipFirma, "Persoana juridica")
                <span asp-validation-for="TipFirma" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="CapitalSocial" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-6">
                <input asp-for="CapitalSocial" class="form-control" />
                <span asp-validation-for="CapitalSocial" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="CasaDeMarcat" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-6">-->
                @* Radio Button for Casa de marcat *@
                <!--Da
                @Html.RadioButtonFor(model => model.CasaDeMarcat, "Da")
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 offset-3">
                Nu
                @Html.RadioButtonFor(model => model.CasaDeMarcat, "Nu")
                <span asp-validation-for="CasaDeMarcat" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="TVA" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-6">-->
                @* Radio Button for TVA *@
                <!--Lunar @Html.RadioButtonFor(model => model.TVA, "Lunar")
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 offset-3">
                Trimestrial @Html.RadioButtonFor(model => model.TVA, "Trimestrial")
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 offset-3">
                Neplatitor @Html.RadioButtonFor(model => model.TVA, "Neplatitor")
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 offset-3">
                TVA colectata la incasare @Html.RadioButtonFor(model => model.TVA, "TVA colectata la incasare")
                <span asp-validation-for="TVA" class="text-danger"></span>
            </div>
        </div>-->

        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
            <div class="col-3">
                <a class="btn btn-primary form-control" asp-action="Index">Inapoi</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/client.js"></script>
}
