@model IEnumerable<Licenta.Models.Client>

@{
    ViewData["Title"] = "Clienti";
}

<br/>

<div class="row">
    <div class="col-6">
        <h2>Clienti</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Creare client nou</a>
    </div>
</div>
<br/>

<div class="table-responsive-md p-4 rounded border">
    <table class="table table-hover" id="tblData">
        <thead>
            <tr class="thead-dark">
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Denumire)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.NrRegComertului)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CodCAEN)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TipFirma)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CapitalSocial)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TVA)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.SediuSocial.Telefon)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.SediuSocial.Email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ClientFurnizori)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts {
    <script src="~/js/client.js"></script>
} 