@model Licenta.Models.IstoricSalar

@{
    ViewData["Title"] = "Detalii Istoric Salariu";
}

<br>
<h3>Detalii Istoric Salariu</h3>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalariatId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salariat.NumePrenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salariat.Pozitie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salariat.Pozitie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInceput)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInceput)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataSfarsit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataSfarsit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salariu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salariu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IstoricSalarId" class="btn btn-success">Editeaza</a> |
    <a asp-action="Index" class="btn btn-primary">Inapoi la Lista</a>
</div>
