@model IEnumerable<Licenta.Models.IstoricSalar>

@{
    ViewData["Title"] = "Istoric Salarii";
}

<br />

@* div PlaceHolder contine cod markup modal (incarcat), trebuie sa atasam modala DOM-ului *@
<div id="PlaceHolderHere"></div>

<div class="row">
    <div class="col-6">
        <h2>Istoric Salarii</h2>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-outline-primary" data-toggle="ajax-modal" data-target="#addIstoricSalar" data-url="@Url.Action("Create")"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Creare salariu nou</button>
    </div>
</div>
<br />



<table class="table" id="tblData">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalariatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salariat.Pozitie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInceput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSfarsit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salariu)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/istoricSalar.js"></script>
}
