@model Licenta.Models.QandA.Response

@{
    ViewData["Title"] = "Detalii raspunsuri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raspuns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raspuns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAdaugare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdaugare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.Intrebare)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResponseId">Actualizeaza</a> |
    <a asp-action="Index">Inapoi</a>
</div>
