@model IEnumerable<Licenta.Models.SediuSocial>

@{
    ViewData["Title"] = "Sedii sociale clienti";
}

<br/>

<div class="row">
    <div class="col-6">
        <h2>Sedii sociale clienti</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Creare sediu social</a>
    </div>
</div>

<br/>

<div class="table-responsive-md p-4 border rounded">
    <table class="table table-hover" id="tblData" style="width:100%">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.Client.Denumire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localitate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Judet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Strada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/sediuSocial.js"></script>
}