@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    string className = "";
}

@section Styles {
    <link href="~/css/login.css" rel="stylesheet" />
} 

<style>
    .container {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>

<div class="background-smoke">

        <section id="picture-section" class="col-sm-5">
            <img src="https://i.pinimg.com/564x/95/cd/d8/95cdd8f7ddfe6749009719ef83244793.jpg" alt="coffee-office" />
        </section>

        <section id="login-section" class="col-sm-7">

            <div class="col-sm-7">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control login-input" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control login-input" placeholder="Parola" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="login-btn" type="submit" class="btn form-control">Log in</button>
                    </div>

                    <div class="form-group row">
                        <div class="col-6 text-center">
                            <a id="forgot-password" asp-page="./ForgotPassword">Ati uitat parola?</a>
                        </div>
                        <div class="col-6 text-center">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Membru nou?</a>
                        </div>
                    </div>

                </form>

                <div id="external-login">
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            @if (provider.DisplayName.Equals("Facebook"))
                                            {
                                                className = "btn-primary";
                                            }
                                            else
                                            {
                                                className = "btn-danger";
                                            }
                                            <button type="submit" class="btn @className" name="provider" value="@provider.Name" title="Conectati-va folosind contul @provider.DisplayName">
                                                @if (className.Contains("danger"))
                                                {
                                                    <i class="fab fa-google"></i>
                                                }
                                                else
                                                {
                                                    <i class="fab fa-facebook-f"></i>
                                                }
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>

        </section>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
