@page
@model RegisterModel
@using Licenta.Utility
@{
    ViewData["Title"] = "Register";
    var admin = User.IsInRole(ConstantVar.Rol_Admin);
}

@section Styles {
    <link href="~/css/login.css" rel="stylesheet" />
 }

<style>
    .container {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>

<div class="background-smoke">

    <section id="picture-section" class="col-sm-5">
        <img src="https://i.pinimg.com/564x/95/cd/d8/95cdd8f7ddfe6749009719ef83244793.jpg" alt="coffee-office" />
    </section>

    <section id="login-section" class="col-sm-7">
        <div class="col-sm-7">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Nume" class="form-control" placeholder="Nume" />
                    <span asp-validation-for="Input.Nume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="email" asp-for="Input.Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" id="password" class="form-control" placeholder="Parola" />
                    @if (admin)
                    {
                        <button onclick="generatePassword()" class="btn btn-dark">Generare parola</button>
                    }
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" id="cfPassword" class="form-control" placeholder="Confirma parola" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telefon" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                @if (admin)
                {
                    <div class="form-group">
                        <select asp-for="Input.ClientId" class="form-control" asp-items=@Model.Input.ClientList selected="Client"></select>
                        <span asp-validation-for="Input.ClientId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="Input.Rol" class="form-control" asp-items=@Model.Input.RolList selected="Rol"></select>
                        <span asp-validation-for="Input.Rol" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <input asp-for="Input.PozitieFirma" class="form-control" placeholder="Pozitie ocupata" />
                    <span asp-validation-for="Input.PozitieFirma" class="text-danger"></span>
                </div>
                <button type="submit" id="login-btn" class="form-control">Inregistreaza-te</button>
            </form>

        <div id="external-login">
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) != 0)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        if (provider.Name == "Facebook")
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Autentificare cu cont @provider.DisplayName">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-danger" name="provider" value="@provider.Name" title="Autentificare cu cont @provider.DisplayName">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </button>
                                        }
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </div>
            </div>
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#email").val(null);
            $("#password").val(null);
        });
    </script>
}
