@model Licenta.Models.Chat.Chat
@using System.Security.Claims;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chat";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

@section Styles {
    <link rel="stylesheet" href="~/css/chat.css" />
}

<div class="wrapper row">
    <div class="chat-body-user">
            <div class="chat-input-user">
                <h3 class="p-2 mt-4 mb-3">
                    <i class="far fa-user"></i> &nbsp;&nbsp;
                    @Model.Users.Where(x => x.ApplicationUserId != User.FindFirst(ClaimTypes.NameIdentifier).Value).FirstOrDefault().ApplicationUser.UserName.Split("@")[0]
                </h3>

            @foreach (var message in Model.Mesaje)
            {
                <div class="message">
                    <header>@message.Nume.Split("@")[0]: &nbsp;</header>
                    <p>@message.Text</p>
                    <footer>@message.Data</footer>
                </div>
            }

            <form asp-controller="Chat" asp-action="CreateMessage" onsubmit="sendMessage()" class="chat-input">
                <input type="hidden" value="@Model.ChatId" name="roomId" />
                <input type="hidden" value="@Model.Nume" name="roomName" />
                <div class="form-group row m-2">
                    <input type="text" name="message" id="message-input" class="col-10 form-control" />
                    <button type="submit" class="col-1 form-control p-2 ml-2 btn btn-secondary"><i class="far fa-paper-plane"></i></button>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        var roomId = "@Model.ChatId";
    </script>
    <script src="~/js/chat/myChat.js"></script>
} 