@model IEnumerable<Licenta.Models.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipDocument)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @{
                    var filePath = "/img/documente/" + item.DocumentPath;
                }
                <a href="@filePath" target="_blank">Your File</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipDocument.Denumire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
