@model IEnumerable<Licenta.Models.Document>

@{
    ViewData["Title"] = "Documente transmise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-6">
        <h2>Documente transmise</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-upload"></i>&nbsp;&nbsp;Transmitere document nou</a>
    </div>
</div>
<br />

<partial name="_NotificationBoxPartial" />

<div class="table-responsive-md p-4 rounded border">
    <table class="table table-hover" id="tblData">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.DocumentPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipDocument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts {
    <script src="~/js/documente/documenteAdmin.js"></script>
}