@model IEnumerable<Licenta.Models.Document>

@{
    ViewData["Title"] = "Documente transmise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-6">
        <h2>Documente transmise</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Transmitere document nou</a>
    </div>
</div>
<br />

<div class="table-responsive-md p-4 rounded border">
    <table class="table table-hover" id="tblData">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.DocumentPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipDocument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>

<div>
    <a asp-controller="Documents" asp-action="XMLParsingExample">Try XML parsing</a>
</div>

<div>
    <a href="~/xml/XML_9_05638559-a435-45c3-9722-06752c1b7e41_13-03-2021-13-26-21.xml">Document XML</a>
</div>

@section Scripts {
    <script src="~/js/documenteAdmin.js"></script>
}