@model Licenta.ViewModels.ChatVM
@using System.Security.Claims;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chat";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    var userName = User.Identity.Name;
    var senderMessage = "message user-sender";
    var receiverMessage = "message user-receiver";
    var messageClass = "";
    var privateRoom = Model.Chat.Tip.Equals(Licenta.Models.Chat.TipChat.Privat);
}

@section Styles {
    <link rel="stylesheet" href="~/css/chat.css" />
}

<!-- Modal Placeholder -->
<div id="chatRoom-modal"></div>

<div class="wrapper row">
    <!-- Side Menu -->
    <div class="side-menu col-3">
        <a id="utilizatoriArea" data-toggle="collapse" href="#utilizatori" role="button" aria-expanded="false" aria-controls="utilizatori">
            Utilizatori &nbsp; <i class='fas fa-angle-double-down'></i>

        </a>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="utilizatori">
                    @foreach (var chat in Model.Private)
                    {
                        <div class="user-chat">
                            <a asp-controller="Chat" asp-action="Chat" asp-route-id="@chat.ChatId">
                                @chat.Users.FirstOrDefault(x => x.ApplicationUserId != userId).ApplicationUser.Nume
                                <i class="fas fa-angle-double-right col-1"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <a id="grupuriArea" data-toggle="collapse" href="#grupuri" role="button" aria-expanded="false" aria-controls="grupuri">
            Grupuri &nbsp; <i class='fas fa-angle-double-down'></i>

        </a>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="grupuri">
                    @foreach (var chat in Model.Grupuri)
                    {
                        <div class="user-chat">
                            <a asp-controller="Chat" asp-action="Chat" asp-route-id="@chat.ChatId">
                                @chat.Nume
                                <i class="fas fa-angle-double-right col-1"></i>
                            </a>
                        </div>
                    }
                <div class="user-chat">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="ajax-chatRoom-modal" data-target="#add-chatRoom">
                        <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Creeaza grup
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Chat Body -->
    <div id="chatBody" class="col-9">
        <div class="chat-body">
            <div class="row p-2 mt-4 mb-3">
                <div class="col-9" id="chatHeader">
                    <i class="far fa-user"></i> &nbsp;&nbsp;
                    @if (privateRoom)
                    {
                        @Model.Chat.Users.Where(x => x.ApplicationUserId != User.FindFirst(ClaimTypes.NameIdentifier).Value).FirstOrDefault().ApplicationUser.UserName.Split("@")[0]
                    }
                    else
                    {
                        @Model.Chat.Nume
                    }
                </div>

                @if (!privateRoom)
                {
                <!--Optiuni grup: stergere, vizualizare utilizatori, adaugare/stergere utilizator-->
                <div class="dropdown col-1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button type=button class="btn" data-toggle="ajax-groupUsers-modal" data-target="#groupUsers">
                            Vizualizare utilizatori grup
                        </button>
                        <button type=button class="btn" data-toggle="ajax-addUserGroup-modal" data-target="#add-usersGroup">
                            Adaugare utilizator
                        </button>
                        <a class="dropdown-item btn" id="deleteGroupButton">Sterge grup</a>
                    </div>
                </div>
                }
            </div>

            @foreach (var message in Model.Chat.Mesaje)
            {
                if (message.Nume == userName)
                {
                    messageClass = senderMessage;
                }
                else
                {
                    messageClass = receiverMessage;
                }
                <div class="@messageClass">
                    <header>@message.Nume.Split("@")[0]: &nbsp;</header>
                    <p>@message.Text</p>
                    <footer>@message.Data</footer>
                </div>
            }

        </div>

        <!-- Chat Input -->
        <form asp-controller="Chat" asp-action="CreateMessage" onsubmit="sendMessage()" class="chat-input">
            <input type="hidden" value="@Model.Chat.ChatId" name="roomId" />
            <input type="hidden" value="@Model.Chat.Nume" name="roomName" />
            <div class="form-group row m-2">
                <input type="text" name="message" id="message-input" class="col-10 form-control" />
                <button type="submit" class="col-1 form-control p-2 ml-2 btn btn-secondary"><i class="far fa-paper-plane"></i></button>
            </div>

        </form>
    </div>

</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        var roomId = "@Model.Chat.ChatId";
        var loggedUser = "@User.Identity.Name";
    </script>
    <script src="~/js/chat/myChat.js"></script>
    <script src="~/js/chat/chatRoom.js"></script>
} 