@model Licenta.Models.Salariat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salariat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozitie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozitie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAngajare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAngajare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConcediere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConcediere)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalariatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
