@model Licenta.Models.Salariat

@{
    ViewData["Title"] = "Info Salariat";
}

<br />
<h3>Detalii Salariat</h3>
<hr />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.Client.Denumire)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Client.Denumire)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.functie)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.functie)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.locatie)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.locatie)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.datai)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.datai)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.tip)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.tip)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.ore_zi)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ore_zi)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.grupa)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.grupa)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.nr_zile_co)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nr_zile_co)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.tip_rem)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.tip_rem)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.salar_brut)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.salar_brut)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.cn)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.cn)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.judet)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.judet)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.localitate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.localitate)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.str)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.str)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.nr)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nr)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.cod_post)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.cod_post)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.nr_contr)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nr_contr)
        </dd>
        <dt class="col-sm-2 offset-1">
            @Html.DisplayNameFor(model => model.d_contract)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.d_contract)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalariatId" class="btn btn-success">Editare salariat</a> |
    <a asp-action="Index" class="btn btn-primary">Inapoi</a>
</div>
