@model IEnumerable<Licenta.Models.Salariat>

@{
    ViewData["Title"] = "Salariati";
}

<br />

@* Placeholder *@
<div id="modal-salariati-import-ph"></div>

<div class="row">
    <div class="col-6">
        <h2>Salariati</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adaugare salariat nou</a>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <button type="button" data-target="#add-salariati-import" data-url="@Url.Action("ImportSalariati")" data-toggle="ajax-salariati-modal" class="btn btn-outline-secondary">
            <i class="fas fa-file-import"></i>
            &nbsp;&nbsp;Import salariati Saga
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 text-right">
        <button type="button" data-target="#delete-salariati" data-url="@Url.Action("DeleteSalariati")" data-toggle="ajax-del-sal-modal" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            &nbsp;&nbsp;Stergere salariati
        </button>
    </div>
</div>

<br />

<div class="table-responsive-md p-4 rounded border">

    <table class="table table-hover" id="tblData">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.functie)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/import/importSalariati.js"></script>
}