@model IEnumerable<Licenta.Models.Salariat>

@{
    ViewData["Title"] = "Index";
}

<br />

<div class="row">
    <div class="col-6">
        <h2>Salariati</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Creare salariat nou</a>
    </div>
</div>
<br />

<div class="table-responsive-md p-4 rounded border">

    <table class="table table-hover" id="tblData">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pozitie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAngajare)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataConcediere)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/salariat.js"></script>
}