@model IEnumerable<Licenta.Models.ClientFurnizor>

@{
    ViewData["Title"] = "Clienti -> furnizori";
}
<br/>
<div class="row">
    <div class="col-6">
        <h2>Clientii si furnizorii acestora</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adauga furnizor unui client</a>
    </div>
</div>
<br/>

<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr class="table-light">
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Furnizor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.Denumire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Furnizor.Denumire)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientFurnizorId"><i class="fa fa-pencil-square text-success" aria-hidden="true"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.ClientFurnizorId"><i class="fa fa-info-circle" aria-hidden="true"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.ClientFurnizorId"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>