@using Licenta.Utility 
@model Licenta.Models.QandA.Question

@{
    ViewData["Title"] = "Detalii intrebare";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = User.IsInRole(ConstantVar.Rol_Admin);
    var clientCuDrepturi = (ViewBag.LoggedUser == Model.ApplicationUserId);
}

@section Styles {
    <link rel="stylesheet" href="~/css/qa.css" />
}

<br />

<div class="row">
    <div class="col-9">
        <form>
            <input type="hidden" asp-for="@Model.QuestionId" />
        </form>
        <h4>@Model.Intrebare</h4>
        <h6 class="row font-italic ml-1">
            By @Model.ApplicationUser.Nume
        <span class="ml-3">
            <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;
            At @Model.DataAdaugare
        </span>
        </h6>
    </div>
    <div class="col-3 text-right">
    @if (admin)
    {
       <a asp-controller="Responses" asp-action="Create" asp-route-id="@Model.QuestionId" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adauga raspuns nou!</a>
    }
    </div>


</div>

<div>
    <hr />
    <br />
    <dl class="row">
        @if (Model.Descriere != null)
        {
            <dt class="col-sm-2">
                Detalii intrebare
            </dt>
            <dd class="col-sm-10 descriere-intrebare qaTextJustified">
                @Html.DisplayFor(model => model.Descriere)
            </dd>
        }
        @foreach (var response in Model.Responses)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => response.Raspuns)
            </dt>
            <dd class="col-sm-10 raspuns-intrebare qaTextJustified">
                @Html.DisplayFor(model => response.Raspuns) &nbsp;
                <a asp-controller="Responses" asp-action="Edit" asp-route-id="@response.ResponseId" title="Editare raspuns" class="text-right">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit
                </a>
            </dd>
        }
        <dt class="col-sm-2">
            Categorie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionCategory.Denumire)
        </dd>
    </dl>
</div>

<div class="form-group row">
    @if (admin || clientCuDrepturi)
    {
    <div class="col-2 offset-2">
        <a asp-controller="Questions" asp-action="Edit" asp-route-id="@Model.QuestionId" class="btn btn-success form-control">Editare</a>
    </div>
    }
    
    <div class="col-2">
        <a asp-controller="Questions" asp-action="Index" class="btn btn-primary form-control">Inapoi</a>
    </div>
    
</div>
