@model Licenta.Models.QandA.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intrebare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intrebare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAdaugare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdaugare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rezolvata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rezolvata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionCategory.QuestionCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
